.main_header__image {
	background-repeat: no-repeat;
	width: 100%;
	height: 30rem;
	z-index: 0;
	overflow: hidden;
}

.main_header__image > img {
	width: 110%;
	height: 110%;
	object-fit: cover;
	transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}
