.navbar_container {
	display: flex;
	flex-direction: row;

	height: 90px;
	width: auto;

	background-color: rgb(146, 27, 6);

	border-style: solid;
	border-width: 1px;
	border-color: rgb(212, 103, 39);
	border-radius: 10px;

	position: sticky;
	top: 0px;
	z-index: 5;

	justify-content: space-around;
}

.logo__name {
	color: rgb(236, 232, 224);

	margin-right: 8px;
}
