.Card {
	background-color: rgb(77, 77, 104);
	border-radius: 12px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	/* width: 60%; */
}

@media screen and (min-width: 360px) {
	.Card {
		width: 90%;
	}
}

@media screen and (min-width: 600px) {
	.Card {
		width: 75%;
	}
}

@media screen and (min-width: 1000px) {
	.Card {
		width: 60%;
	}
}
