.menu_item__container {
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: space-between;

	padding-left: 2%;
	margin-bottom: 20px;

	border-bottom-style: groove;
	border-bottom-width: 1px;
}

.menu_item__item {
	display: flex;
	flex-direction: column;
}

.menu_item__item > h3 {
	margin-bottom: 5px;
	margin-top: 5px;
}

.menu_item__item > p {
	margin-bottom: 5px;
	margin-top: 5px;

	font-style: oblique;
}
