.menu_container {
	display: flex;
	flex-direction: column;

	background-color: rgb(240, 240, 235);
	box-shadow: 4px 1px 12px 17px rgba(0, 0, 0, 0.562);
	border-radius: 20px;
	width: 80%;
	height: auto;

	z-index: 5;

	position: absolute;
	right: 20%;

	margin-top: auto;
}

@media screen and (max-width: 360px) {
	.menu_container {
		width: 85%;

		position: absolute;

		top: 85%;
		left: 7.5%;
	}
}
@media screen and (min-width: 361px) {
	.menu_container {
		width: 85%;

		position: absolute;

		top: 80%;
		left: 7.5%;
	}
}
@media screen and (min-width: 600px) {
	.menu_container {
		width: 85%;

		position: absolute;

		top: 80%;
		left: 7.5%;
	}
}
@media screen and (min-width: 760px) {
	.menu_container {
		width: 85%;

		position: absolute;

		top: 80%;
		left: 7.5%;
	}
}
@media screen and (min-width: 1020px) {
	.menu_container {
		width: 85%;
		position: absolute;

		top: 80%;
		left: 7.5%;
	}
}
@media screen and (min-width: 1440px) {
	.menu_container {
		width: 85%;
		position: absolute;

		top: 80%;
		left: 7.5%;
	}
}
